---
export const prerender = false;
import Layout from '../layouts/Layout.astro';
import avatar from '/avatar2.png'
// @ts-ignore  
import StoryblokComponent from '@storyblok/astro/StoryblokComponent.astro'
import { useStoryblokApi } from '@storyblok/astro'
import BigCard from '../components/BigCard.astro';
import PillCard from '../components/PillCard.astro';
import SocialsCard from '../components/SocialsCard.astro';
import Button from '../components/Button.astro';

const storyblokApi = useStoryblokApi()

const { data } = await storyblokApi.get("cdn/stories/home", {
  version: import.meta.env.DEV ? "draft" : "published",
});

const content = data.story.content;

const stack = [
	'Firebase', 
	'Astro', 
	'HTML',
	'CSS',
	'JavaScript',
	'Dart',
	'Expo',
	'Flutter',
	'Hygraph',
	'NextJS',
	'PWA',
	'React Native',
	'React',
	'Sanity',
	'Tailwind',
	'Excel',
	'SQL',
	'Decap'
];

const hobbies = [
	'Football',
	'Urbanism',
	'Photography',
	'Running'
]

const socials = [
	{ name: 'LinkedIn', href: 'https://www.linkedin.com/in/nickgolitsyn/'},
	{ name: 'Telegram', href: 'https://t.me/nickgolitsyn'},
	{ name: 'GitHub', href: 'https://github.com/NickGolitsyn/'},
	{ name: 'WhatsApp', href: 'https://wa.me/+447403525139/'},
	{ name: 'Instagram', href: 'https://www.instagram.com/nickgolitsyn/'},
	{ name: '+447403525139', href: 'tel:+447403525139', source: 'phone'},
	{ name: 'golitsynnick@gmail.com', href: 'mailto:golitsynnick@gmail.com', source: 'email'},
]
---
<Layout title="Home">
	<style>
		@keyframes slideToLeft {
      0% {
        transform: translateX(150%);
      }
      100% {
        transform: translateX(-150%);
      }
    }

    @keyframes slideToRight {
      0% {
        transform: translateX(-150%);
      }
      100% {
        transform: translateX(150%);
      }
    }

		.to-right {
			animation: slideToRight;
		}

		.to-left {
			animation: slideToLeft;
		}

    /* Adjust the animation duration as needed */
    .slide-animation {
      animation-duration: 10s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
    }
	</style>
  <main>
		<!-- About me -->
		<div class="flex justify-between items-center">
			<h1 class="text-black dark:text-white">hey, I'm <span class="text-gradient">Nick Golitsyn</span>👋</h1>
			<!-- <div class="w-16 h-16 rounded-full dark:bg-stone-200 bg-stone-200 overflow-hidden">
				<img src={avatar} />
			</div> -->
		</div>
		<p class="instructions text-black dark:text-white bg-stone-200 dark:bg-stone-700">
			I am an aspiring <strong>front-end web developer</strong>, with a passion for creating captivating and user-friendly websites. My journey began with college, personal projects and freelance work, and over the years, I have learned to constantly refine my skills and stay current with the latest technologies. I am <strong>bilingual in Russian and English</strong>, and I recently completed a 4-year web developer diploma program at <strong>IThub College (Moscow)</strong>, which has equipped me with a solid foundation in programming languages and best practices. Additionally, I hold a <strong>full driving licence</strong>, adding to my versatility.
			<br />
			While currently based in <strong>Norfolk, UK,</strong> I am <strong>open to relocation</strong> for an opportunity that aligns with my career aspirations. I am excited about joining a forward-thinking team where I can contribute my skills and continue to, embark on continuous learning, and advance my professional journey. With my dedication and education, I am confident in thriving as a web developer and making a valuable contribution to any team.
		</p>

		<!-- Resume -->
		<Button
			text='Resume'
			href="https://drive.google.com/file/d/1c97nQ0uooG3dlYyuaJJGReAjX7sBlEgO/view?usp=sharing"
			isExternal={true}
		/>

		<!-- Skills -->
		<section class="flex flex-col items-center my-5">
			<h1 class="text-black dark:text-white !mb-3">Skills</h1>
			<ul class="flex flex-wrap justify-center gap-3">
				{stack.map((item) => (
					<PillCard
						item={item}
						hasIcon={true}
					/>
				))}
			</ul>
		</section>
		
		<!-- Hobbies -->
		<section class="flex flex-col items-center my-5">
			<h1 class="text-black dark:text-white !mb-3">Hobbies</h1>
			<ul class="flex flex-wrap justify-center gap-3">
				{hobbies.map((item) => (
					<PillCard 
						item={item}
						hasIcon={false}
					/>
				))}
			</ul>
		</section>
		
		<!-- Socials -->
		<section class="flex flex-col items-center my-5">
			<h1 class="text-black dark:text-white !mb-3">Socials</h1>
			<ul class="flex flex-wrap justify-center gap-3">
				{socials.map(({ name, href, source }) => (
					<SocialsCard
						name={name}
						href={href}
						source={source}
					/>
				))}
			</ul>
		</section>

		<!-- Projects -->
		<section class="flex flex-col items-center my-5">
			<h1 class="text-black dark:text-white !mb-3">Projects</h1>
			<div class="w-full">
				<ul class="link-card-grid">
					<BigCard
						title="Chimeras"
						body="A blog website with a unique content hierarchy."
						href="chimeras"
						stack={['Astro', 'React', 'Decap', 'Tailwind']}
					/>
					<BigCard
						title="Sergey Kudrin"
						body="Photo/Painting exhibition website for a photographer."
						href="sergey-kudrin"
						stack={['HTML', 'CSS', 'JavaScript']}
					/>
				</ul>
				<Button 
					text='Show all projects'
					href='/projects'
				/>
			</div>
		</section>
    <!-- <StoryblokComponent blok={content} /> -->
  </main>
</Layout>

<style>
	.text-nowrap {
		text-wrap: nowrap
	}
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 80ch;
	}
	h1 {
		font-size: 2rem !important;
		font-weight: 800 !important;
		margin: 0 !important;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
		font-family: "Velodroma", sans-seri
	}
	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		border: 1px solid rgba(var(--accent), 25%);
		/* background-color: #444542; */
		padding: 1rem;
		border-radius: 0.4rem;
	}
	.instructions code {
		font-size: 0.875em;
		font-weight: bold;
		background: rgba(var(--accent), 12%);
		color: rgb(var(--accent));
		border-radius: 4px;
		padding: 0.3em 0.45em;
	}
	.instructions strong {
		color: rgb(var(--accent));
		font-family: 'Velodroma', sans-serif;
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 0.5fr));
		gap: 1rem;
		padding: 0;
		justify-content: center;
	}
</style>