---
const socials = [
	{ name: 'LinkedIn', href: 'https://www.linkedin.com/in/nickgolitsyn/'},
	{ name: 'Telegram', href: 'https://t.me/nickgolitsyn'},
	{ name: 'GitHub', href: 'https://github.com/NickGolitsyn/'},
	{ name: 'WhatsApp', href: 'https://wa.me/79852868069/'},
	{ name: 'Instagram', href: 'https://www.instagram.com/nickgolitsyn/'},
]

const navLinks = [
  { name: "Home", href: "/", id: 1 },
  { name: "Projects", href: "/projects", id: 2 },
  { name: "Contact", href: "/contact", id: 3 },
]

---

<footer class="bg-stone-100 dark:bg-stone-900 py-10">
  <div class="flex flex-row justify-around items-center footer-container">
    <ul class="flex flex-col my-5 opacity-80">
      {navLinks.map(({ name, href }) => (
        <li>
          <a
            href={href}
            class={`text-black dark:text-white`}
          >
            {name}
          </a>
        </li>
      ))}
    </ul>
    <ul class="flex flex-wrap flex-col justify-center gap-3 my-5 max-h-40 opacity-80">
      {socials.map(({ name, href }) => (
        <li>
          <a href={href} target="_blank" class="flex gap-1 items-center">
            <img src={`/socials/${name.toLowerCase()}.svg`} alt={name} class="dark:hidden max-h-5 max-w-[1.25rem]" />
            <img src={`/darksocials/${name.toLowerCase()}.svg`} alt={name} class="hidden dark:block max-h-5 max-w-[1.25rem]" />
            <p class="text-black dark:text-white">{name}</p>
          </a>
        </li>
      ))}
      <li>
        <a href='tel:+447403525139' target="_blank" class="flex gap-1 items-center">
          <img src={`/socials/phone.svg`} alt='phone' class="dark:hidden max-h-5 max-w-[1.25rem]" />
          <img src={`/darksocials/phone.svg`} alt='phone' class="hidden dark:block max-h-5 max-w-[1.25rem]" />
          <p class="text-black dark:text-white">+447403525139</p>
        </a>
      </li>
      <li>
        <a href='mailto:golitsynnick@gmail.com' target="_blank" class="flex gap-1 items-center">
          <img src={`/socials/email.svg`} alt='email' class="dark:hidden max-h-5 max-w-[1.25rem]" />
          <img src={`/darksocials/email.svg`} alt='email' class="hidden dark:block max-h-5 max-w-[1.25rem]" />
          <p class="text-black dark:text-white">golitsynnick@gmail.com</p>
        </a>
      </li>
    </ul>
    <div class="flex justify-center my-5 cursor-pointer link-button p-1 rounded-lg w-fit mx-0" onclick="window.scrollTo(0, 0);">
      <p class="text-black dark:text-white py-3 px-5 rounded-md bg-stone-200 dark:bg-stone-700 flex items-center gap-1">
        To top
        <span class="material-symbols-outlined">
          arrow_upward
        </span>
      </p>
    </div>
  </div>
  <div class="flex items-center my-5 flex-col">
    <p class="text-stone-500 dark:text-stone-400 text-xs">DESIGN & CODE BY MYSELF</p>
    <p class="text-stone-500 dark:text-stone-400 text-xs">&copy; 2023 NICK GOLITSYN. All Rights Reserved.</p>
  </div>
</footer>

<style>
  .link-button {
		display: flex;
		background-size: 400%;
		background-position: 100%;
		transition: background-position 0.6s cubic-bezier(0.22, 1, 0.36, 1);
		/* box-shadow: 0 4px 6px -1px #1A3f3f46, 0 2px 4px -2px #1A3f3f46; */
  }
  .link-button > p {
		text-decoration: none;
		line-height: 1.4;
		padding: 1rem 1.3rem;
		border-radius: 0.35rem;
		color: #ffffff;
		opacity: 0.8;
	}
  .link-button:is(:hover, :focus-within) {
		background-position: 0;
		background-image: var(--accent-gradient);
	}
	.link-button:is(:hover, :focus-within) h2 {
		color: rgb(var(--accent));
	}
	.link-button:is(:hover, :focus-within) span {
		transition: transform 0.5s ease-out;
		transform: translateY(-2px);
	}
  @media only screen and (max-width: 800px) {
    .footer-container {
      flex-direction: column !important;
    }
    .footer-container ul:nth-child(2) {
      transform: scale(0.8);
    }
  }
  @media only screen and (max-width: 333px) {
    .footer-container ul:nth-child(2) {
      transform: scale(0.75);
    }
  }
</style>