---
export interface Props {
	item: string;
  hasIcon: boolean;
}

const { item, hasIcon } = Astro.props;
---

<div class="cursor-default flex max-w-fit gap-1 bg-stone-200 dark:bg-stone-700 hover:bg-stone-300 hover:dark:bg-stone-800 py-1 px-3 bg-opacity-80 dark:bg-opacity-80 items-center rounded-3xl border border-stone-400">
  {hasIcon && (
    <img src={`/logos/${item.toLowerCase()}.svg`} alt={item} class="dark:hidden max-h-5 max-w-[1.25rem]" />
    <img src={`/darklogos/${item.toLowerCase()}.svg`} alt={item} class="hidden dark:block max-h-5 max-w-[1.25rem]" />
  )}
  <p class="text-black dark:text-white">{item}</p>
</div>